<div id="toolbar" class="smooth smooth-fast">
	<div class="container">
		<a href="<%= relativePath %>page/create" class="item smooth smooth-fast">New Page</a>
		<a href="<%= relativePath %>page/destroy/<%= page.id %>" class="item smooth smooth-fast">Delete This Page</a>
		<span class="item smooth smooth-fast" data-toggle-action="nav">Make Section</span>
		<span class="item smooth smooth-fast" data-toggle-action="landing">Make Landing</span>
		<a href="<%= relativePath %>user/logout" class="item smooth smooth-fast">Logout</a>
	</div>
</div>
<div id="toolbar-handle">
	<div class="container">
		<span id="toolbar-handle-link" class="smooth smooth-fast">
			Editing Tools
		</span>
	</div>
</div>